.container {
  width: 100vw;
  max-width: 872px;
  margin: 0 auto;
  margin: 24px 32px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 16px;
}

.title {
  font-size: 16px;
  font-family: var(--font-yekan);
  font-weight: 400;
  margin: 12px 12px 16px;
  display: inline;
}

.label {
  margin-right: 32px;
  font-size: 14px;
  color: #333;
  font-family: var(--font-yekan);
  margin-top: 12px;
  margin-left: 32px;
}

.input {
  font-family: var(--font-yekan);
  font-size: 14px;
  padding: 8px;
  background-color: #fff !important;
  margin-top: 4px;
  margin-right: 35px;
  width: 30%;
}

.input:disabled {
  cursor: not-allowed;
  background-color: #f5f5f5;
}

.button {
  margin-top: 16px;
  align-items: center;
  color: rgba(0, 158, 202, 1);
  border: none;
  background-color: white;
  font-size: 14px;
  font-family: var(--font-yekan);
  cursor: pointer;
  margin-left: 35px;
  margin-right: 550px;
  align-items: center;
  gap: 6px;
}

.button:hover {
  background-color: rgba(0, 158, 202, 0.1);
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 158, 202, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: var(--font-yekan);
  cursor: pointer;
  margin-top: 16px;
}

.submitButton:hover {
  background-color: #0077a3;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
