.footer {
  color: #282828;
  padding: 40px 20px;
  text-align: center;
  direction: rtl;
}

.topContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff33;
}

.topContainer > div {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 300px;
  text-align: right;
  font-family: "VazirMatn";
}

.topContainer h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: "VazirMatn";
}

.bottomContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: right;
}

.torino,
.services {
  flex: 0.5;
  min-width: 200px;
}

.logoContainer {
  flex: 2;
  text-align: left;
  padding-left: 126px;
}

.logoContainer p {
  font-size: 14px;
  margin-top: 10px;
  font-family: BYekan;
}

.footer h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-family: "BYekan";
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  color: #282828;
  font-family: "BYekan";
}

.footer ul li a:hover {
  color: #facc15;
}

.otherSites {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.otherSites a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.otherSites a:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .topContainer {
    flex-direction: column;
    text-align: center;
  }

  .topContainer > div {
    justify-content: center;
    text-align: center;
  }

  .bottomContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .torino,
  .services,
  .logoContainer {
    text-align: center;
  }
}
