@font-face {
  font-family: "VazirMatn";
  src: url("/fonts/static/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BYekan";
  src: url("/fonts/BYekan/BYekan+.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
